html {
  scroll-behavior: smooth;
}

#scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 2px;
  border-radius: 10px;
  font-size: 18px;
}
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 8px 0px 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  background: #0648ba;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 100px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  font-size: 20px;
}

/* @media (max-width: 499px) {
  .back-to-top {
    bottom: 15px;
    right: 5px;
    background: var(my-white);
  }
  .back-to-top2 {
    bottom: 65px;
    right: 5px;
    background: #0648ba;
  }
} */
